@media ( max-width: 980px) {
    body {
        background: url(../images/bg-mobile.svg) no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
    }

    .principal .cabecalho a .logo {
        max-width: 80%;
    }

    .principal .conteudo {
        gap: 0;
    }

    .principal .conteudo .conteiner {
        max-width: 500px;
    }

    .principal .conteudo .conteiner .ilustracao {
        max-width: 90%;
    }

    .principal .conteudo .container-infor {
        margin: 10px 0px;
        height: 350px;       
    }

    .principal .conteudo .container-infor h1 {
        font-size: 1.6rem;
        margin: 10px 0;
    }

    .principal footer {
        margin-right: 10px;
    }
}

@media (max-width: 720px) {
    body {
        background-size: contain;
    }

    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .principal .cabecalho {
        max-height: 70px;
        margin-bottom: 5px;
    }
    
    .principal .cabecalho a .logo {
        max-width: 70%;        
    }
    
    .principal .conteudo {
        flex-direction: column;
        align-items: center;
        margin: 0;    
    }

    .principal .conteudo .conteiner {
        max-width: 100%;
        text-align: center;
    }

    .principal .conteudo .conteiner .ilustracao {     
        max-width: 65%;
    }

    .principal .conteudo .container-infor {
        align-items: center;
        text-align: center;
        max-height: 230px;
        padding: 0;
        margin-bottom: 0;
    }

    .principal .conteudo .container-infor h1 {
        font-size: 1.6rem;
        max-width: 300px;
        margin-top: 0;
    }

    .principal .conteudo .container-infor p {
        margin-bottom: 10px;
    }

    .principal footer {
        margin-top: 5px;
        margin-right: 0;
        padding: 0;
    }

    .principal footer .social {
        padding: 0;
    }
}